* {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --main-leftRight-padding : 50px;
}

#root {
  height: 100vh;
  overflow: auto;
}

#root::-webkit-scrollbar {
  width: 8px;
}

#root::-webkit-scrollbar-track {
  padding: 2px;
  box-shadow: inset 0 0 1px grey;
  border-radius: 8px;
}

#root::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 8px;
}